*,
*::after,
*::before {
    content: "";
    box-sizing: inherit;
    perspective: inherit;
    transform-origin: inherit;
    transform-style: inherit;
    overflow: inherit;
    backface-visibility: inherit;

}

:root {
    box-sizing: border-box;
    perspective: 2500px;
    transform-origin: center;
    transform-style: preserve-3d;
    overflow: visible;
    backface-visibility: visible;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    min-width: 900px;
    min-height: 500px;
    height: 100vh;
    padding-top: 150px;
    margin: 0px;
    background-color: rgba(78, 78, 78, 0.938);
    z-index: -1;

}

.dark-hole {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.884);
    color: rgba(26, 25, 25, 0.507);
    border-radius: 50%;
    box-shadow: inset 70px 70px 55px 50px, 3px 3px 25px 1px;
    transform: translateZ(-4000px) translateY(150px) translateX(-180px);
    animation: darken 8s forwards 3s ease-in;


}

.ball {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: royalblue;
    background: radial-gradient(circle at 100px 100px, #5cabff, #000);
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 10px 1px rgba(36, 36, 36, 0.664);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.212);
    transform: translateX(600px) translateZ(0px) translateY(0px);
    animation: roll 8s forwards 3s ease-in;
}

.ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: rotateX(90deg) translateZ(-150px);
    z-index: -1;
}

.ball:hover,
.ball:hover .hole,
.ball:hover+.dark-hole {
    animation-play-state: paused;
}

.ball::before {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    position: absolute;
    bottom: -39px;
    left: 25%;
    background-color: rgba(78, 78, 78, 0.226);
    transform: rotateX(90deg);
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.212);
}

.ball .hole {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 99999px;
    position: absolute;
    color: rgba(78, 78, 78, 0.795);
    box-shadow: inset -7px -6px 7px -4px black,
        inset 0px 10px 7px 29px currentColor,
        0px 0px .5px 1px rgba(1, 37, 146, 0.308);
    animation: roll 3s infinite alternate 3s ease-in;
    /* animation: fade 2s forwards 3s ease-in; */
}

.ball .hole:nth-child(1) {
    top: 25px;
    left: 50px;
    transform: rotateX(-25deg) rotateY(25deg) translateX(-12px);
}

.ball .hole:nth-child(2) {
    top: 24px;
    left: 85px;
    width: 10.2px;
    transform: translateZ(10px) rotateX(25deg) rotateY(25deg) translateX(12px);
}

.ball .hole:nth-child(3) {
    top: 80px;
    left: 65px;
    transform: translateZ(11px) rotateX(190deg);
}

@keyframes roll {
    from {}

    40% {
        transform: translateX(-300px) translateZ(-1000px) translateY(75px);
    }

    70% {
        transform: translateX(150px) translateZ(-2000px) translateY(150px);
    }

    90% {
        transform: translateX(-150px) translateZ(-3000px) translateY(225px);
    }

    95% {
        box-shadow: inset 70px 70px 55px 50px;
    }

    to {
        transform: translateX(50px) translateZ(-4000px) translateY(300px);
        box-shadow: inset 150px 150px 55px 50px;
        background-color: #000;
    }
}

@keyframes fade {
    from {}

    to {
        transform: translateY(-500px);
    }
}

@keyframes darken {
    from {}

    to {
        background-color: #000;
    }
}